footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;

  color: $footer-color;
  font-size: 1.6rem;

  .text {
    text-align: center;
    font-size: 2rem;
  } 
}

.footer__rs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.link {
text-decoration: none;
color: $footer-color
}

.link:hover {
  color: $footer-hover-color
}

.rs__logo {
  order: 1;
  width: 60px;

  padding-bottom: 10%;
  background-image: url("https://rs.school/images/rs_school_js.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $footer-color
}

.rs {
  order: 2;
}

.rs:hover ~ .rs__logo {
  background-color: $footer-hover-color
}