.header {
  @include flex();
  flex-wrap:wrap;
  gap: 1rem;

  padding: 1rem;

  .container {
    align-items: center;
  }

  &__title {
    @include flex ($aling: center);

    color: $cart-count-color;
  }

  .cart {
    position: relative;

    width: 6rem;
    height: 6rem;

    background-image: url('./assets/icons/cart.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    &__text {
      position: absolute;
      right: -1rem;

      @include flex($justify: center, $aling: center);
      width: 2.7rem;
      height: 2.7rem;
      border-radius: 50%;
      // border: 2px solid $cart-count-color;

      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
      // color: $cart-count-color;
      color: $cart-text-color;

      // background-color: $button-color;
      background-color: $cart-count-color;

    }
  }
  
}