.notification__overlay {
	position: fixed;
  top: 0;
	left: 0;
	z-index: 3;

  @include flex($justify: center, $aling: center);
  
	width: 100%;
	height: 100vh;

	background-color: $blackout;

	opacity: 0;

	animation: Change-opacity 1s;
	animation-fill-mode: forwards;
	animation-direction: normal;

}

.notification__inner {
	// overflow: hidden;
	@include flex($justify: center, $aling: center);
	// align-self: flex-start;
	width: 30rem;
	height: 10rem;
	border-radius: 5px;

	background-color: $button-remove-hover-color;

	.notification__text {
		font-size: 3rem;
		color: $sale-text-color
	}
}