.popup__overlay {
	position: fixed;
  top: 0;
	left: 0;
	z-index: 3;

  @include flex($justify: center, $aling: center);
  
	width: 100%;
	height: 100vh;

	background-color: $blackout;

	opacity: 0;

	animation: Change-opacity 1s;
	animation-fill-mode: forwards;
	animation-direction: normal;
}

.popup__wrapper {
	@include flex($direction: column);
	width: 952px;

	background-color: transparent;

	@media (max-width: ($desctop - 1px)) {
		width: 682px;
	}

	@media (max-width: ($tablet - 1px)) {
		width: 270px;
	}

	.popup__close-button {
		align-self: flex-end;

		@include flex($justify: center, $aling: center);

		width: 52px;
		height: 52px;
		
		border: 2px solid $button-border-color;
		border-radius: 100px;

		background-image: url(./assets/icons/close.svg);
		background-color: $button-border-color;
		background-repeat: no-repeat;
		background-position: center;

		&.hover {
			cursor: pointer;

			border: 2px solid $button-remove-hover-color;
		
			background-color: $button-remove-hover-color;
		}

	}

	.popup__container {
		overflow: hidden;
		@include flex();
		align-self: flex-start;
		width: calc(100% - 52px);
		border-radius: 9px;

		background-color: $popup-bg-color;

		@media (max-width: ($tablet - 1px)) {
			width: calc(100% - 30px);
		}

		.popup__img {
			width: 400px;
			padding-bottom: calc(400 / 900 * 100%);

			background-size: cover;
			background-repeat: no-repeat;

			@media (max-width: ($desctop - 1px)) {
				width: 350px;
				padding-bottom: calc(350 / 630 * 100%);
			}

			@media (max-width: ($tablet - 1px)) {
				display: none;
			}
		}

		.popup__list {
			align-self: flex-start;
			@include flex($aling: flex-start, $direction: column);
			gap: 10px;

			width: 400px;
			padding: 40px 20px 0 30px;

			font-size: 2rem;

			@media (max-width: ($desctop - 1px)) {
				width: 280px;
				padding: 10px 9px 10px 11px;
			}

			@media (max-width: ($tablet - 1px)) {
				width: 100%;
			}
		}

		.popup__item {	
				font-weight: bold;

				list-style-position: inside;
				
				&::before {
					color: $button-border-color; 
					content: "●"; 
					padding-right: 10px; 
					
				}

				span {
					font-weight: normal;
				}
		}
	}
}