.settings {
  $setting-width: 100vw;

  @include flex($justify: center);
  // flex-wrap: wrap;
  flex-basis: 25%;
  min-width: 30rem;

  @media (max-width: ($tablet - 1px)) {
    position: fixed;
    overflow-y: hidden;
    z-index: 1;
    top: 0;
    left: calc(-1 * (100vw - 3.5rem));

    height: 100vh;
    width: $setting-width;

    transition: all 0.5s linear;

    &.open {
      overflow-y: scroll;
      left: 0;
    }
  }

  &__wrapper {
    @include flex($justify: center);
    flex-wrap: wrap;
    gap: 1rem;
    width: calc($setting-width - 3.5rem);
    padding-bottom: 3rem;

    background-color: $filter-bg-color;
  }

  &__marker {
    width: 3.5rem;
    height: 100%;
    padding: 5rem 0;
    padding-right: 0.5rem;
    border-radius: 0 0 4rem 0;

    font-size: 2rem;
    font-weight: bold;
    color: $button-color;
    writing-mode: vertical-rl;

    background-color: $button-border-color;

    opacity: 0;

    transition: all 0.5s linear;

    &:hover {
      background-color: $button-hover-color;
    }

    @media (max-width: ($tablet - 1px)) {
      opacity: 1;
    }
  }

  &__inner {
    @include flex();
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  &__filter {
    @include flex();
    flex-wrap: wrap;
    gap: 1rem;
    flex-basis: 100%;
    padding: $settings-padding;

    background-color: $filter-bg-color;
  }
}