.settings {
  @include flex($justify: center);
  flex-wrap: wrap;
  flex-basis: 25%;
  min-width: 25rem;
  gap: 1rem;

  &__inner {
    @include flex();
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  &__filter {
    @include flex();
    flex-wrap: wrap;
    gap: 1rem;
    flex-basis: 100%;
    padding: $settings-padding;

    background-color: $filter-bg-color;
  }
}