.card {
  position: relative;
  
  @include flex($justify: center);
  flex-wrap: wrap;
  gap: 1rem;

  padding: 0 20px;

  &__img {
    width: 100%;
    padding-bottom: 105%;

    background-size: contain;
    background-repeat: no-repeat;
  }

  &__inner {
    width: 100%;

    font-weight: bold;

    span {
      font-weight: normal;
    }
  }
}