@mixin flex ($aling: start, $justify: space-between, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
}

@mixin autoGrid ($minmax: 25rem) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minmax, 1fr)); 

  grid-gap: 3em;

  width: 100%;
}

@mixin thumb ($color, $hover-color, $thumb-size) {
  position: relative;
    
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  border: none;

  background-color: $color;

  pointer-events: all;
  cursor: pointer;

  appearance: none;

  transition: all 0.5s linear;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin imput-range-two-thumb ($input-top, $width, $input-bg-color, $input-thumb-color,
  $input-thumb-hover, $thumb-size: 2rem) {

  position: relative;

  &__track {
    position: absolute;
    left: 50%;
    top: 65%;
    z-index: 0;

    width: $width;
    height: 0.2rem;

    transform: translateX(-50%);
  }

  &__label {
    display: block;

    user-select: none;
  }

  &__wrap {
    position: absolute;
    left: 50%;

    width: calc($width - $thumb-size);

    transform: translateX(-50%);
  }

  &__title {
    position: absolute;
    left: 0;
    top: 2.5rem;

    width: $thumb-size * 2;
    height: $thumb-size;

    text-align: center;
    font-size: 1.6rem;
    color: $input-thumb-hover;

    transform: translateX(-50%);
    opacity: 0;

    transition: opacity 0.5s linear;
  }
    
  input[type="range"] {
    position: absolute;
    left: 50%;
    top: 65%;

    width: $width;

    background-color: transparent;

    pointer-events: none;
    outline: none;
    height: 0.5rem;
    appearance: none;

    transform: translateX(-50%);

    &:focus {
      outline: none; 
    }

    &::-webkit-slider-thumb {
      @include thumb ($input-thumb-color, $input-thumb-hover, $thumb-size)
    }

    &::-moz-range-thumb {
      @include thumb ($input-thumb-color, $input-thumb-hover, $thumb-size)
    } 

    &::-moz-range-track {
      -moz-appearance: none;
      height: 0.5rem;
    }
  }  
}
