$input-thumb-color: #0156FF;
$input-track-color: #F1EFEF;
$blackout: #29292999;
$sale-bg-color: #FF0000;
$sale-text-color: #FFFFFF;
$filter-color: #808080;
$filter-bg-color: #F5F7FF;
$button-color: #FFFFFF;
$button-border-color: #0156FF;
$cart-color: #0156FF;
$cart-text-color: #FFFFFF;

$desctop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 320px;

$itemWidth: 300px;